.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 880px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1024px) {
    .page {
      max-width: 581px;
    }
  }

  @media screen and (max-width: 650px) {
    .page {
      max-width: 282px;
    }
  }
