.popup__container {
    position: relative;
    width: 510px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        height: 394px;
    }
}