.edit-button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .edit-button {
        width: 18px;
        height: 18px;
    }
  }

  .edit-button:hover {
    opacity: 0.6;
    transition: 0.2s;
}