.add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    background: none;
    padding: 0;
}

@media screen and (max-width: 880px) {
    .add-button {
        width: 282px;
    }
}

.add-button:hover {
    opacity: 0.6;
    transition: 0.2s;
}