.header__logo {
    background-image: url(../../../images/header-logo.svg);
    width: 142px;
    height: 33px;
    background-size: cover;
    margin-bottom: 41px;
}

@media screen and (max-width: 600px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.6px;
    }
  }