.edit-form {
    width: 358px;
    min-height: 259px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 34px 36px 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    .edit-form {
        width: 238px;
        min-height: 272px;
        padding: 25px 22px;
    }
}