.edit-form__submit {
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    border: none;
    margin-top: 18px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .edit-form__submit  {
        font-size: 14px;
    }
}

.edit-form__submit:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.edit-form__submit[disabled]:hover {
    opacity: .2;
    cursor: default;
}

.edit-form__submit:disabled {
    border: 1px solid #000000;
    opacity: .2;
    background-color: white;
    color: #000000;
}
