.popup__close {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 32px;
    height: 32px;
}

.popup__close:hover {
    opacity: 0.6;
    transition: 0.2s;
}