.popup__close {
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}

.popup__close:hover {
    opacity: 0.6;
    transition: 0.2s;
}