.profile-info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .profile-info__text {
        max-width: 431px;
    }
  }

  @media screen and (max-width: 650px) {
    .profile-info__text {
        max-width: 282px;
        align-items: center;
    }
  }