.profile-info__name {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    margin: 0 0 16px;
    max-width: 450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .profile-info__name {
        font-size: 27px;
        line-height: 1.21;
        margin-bottom: 14px;
    }
  }