.profile-info__edit {
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .profile-info__edit {
        margin-bottom: 14px;
        justify-content: center;
    }
  }